*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* colors when light theme */
:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #222121;
  --bg-color: #ebe7e71e;
  --heading-color: #fff;
  --max-width : 1280px;
  --border-color : rgba(0, 0, 0, 0.123);
}

/* colors when dark theme */
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #161625;
  --max-width : 1280px;
  --border-color : rgba(255, 255, 255, 0.123);
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.gap-20{
  gap: 20px;
}

.gap-50{
  gap:50px
}

.mb-10{
  margin-bottom: 10px;
}

.mt-10{
  margin-top:  10px;
}

.mt-20{
  margin-top: 20px;
}

.p-20{
  padding: 20px;
}

.p-30{
  padding: 30px;
}

.px-100{
  padding-inline: 100px;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.fs-14{
  font-size: 14px;
  color: var(--font-color);
}

.fs-16{
  font-size: 16px;
  color: var(--font-color);
}

.fs-18{
  font-size: 18px;
  color: var(--font-color);
}

.fs-28{
  font-size: 28px;
  color: var(--font-color);
}

.box{
    background-color: #fff;
    border : 1px solid #eeecec;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-outline-none{
  outline: none;
  border: none;
  padding: 4px 8px;
  background-color: inherit;
  cursor: pointer;
}

.card {
    background-color: var(--heading-color);
    border : 1px solid #eeecec;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.main-container{
  width: 100%;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.header-container{
  height: 80px;
  background-color: var(--heading-color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid var(--border-color) ;

  & .header-content{
    max-width: var(--max-width);
    width: 100%;
    padding: 0 20px;
    margin: auto;
    width: 100%;

   & h5{
        font-size: 26px;
        font-weight: bold;
        font-family: sans-serif;
        color: var(--font-color);
    }
  }
}

.search-filter-container{
  background-color: var(--heading-color);
  position: sticky;
  top: 80px;
  z-index: 99;
  height: 80px;

  & .search-filter{
    max-width: var(--max-width);
    width: 100%;
    padding: 0 20px;
    margin: auto;
    
    & .search-box{
      flex: 1;
      max-width: 30%;
  
  
      & input{
        border: none;
        outline: none;
        flex: 1;
        color: gray;
      }
    }
  
    & .filter-box{
      padding: 10px 0;
  
      & select {
        border: none;
        outline: none;
        padding: 0 20px 0 10px;
        color: gray;
      }
    }
  }
}



.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: var(--max-width);
  margin: auto;
  margin-top: 30px;
  padding: 0 20px;

  & .card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  & :hover {
    transform: scale(1.01);
    transition: transform 400ms ease-in-out;
  }
}


.details-container{
  background-color: var(--bg-color);
  padding: 0 20px;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  margin-top: 70px;

  & .back-box{
    width: 140px;
    text-decoration: none;
    color: gray;

  }

  & .country-details{
    margin-top: 70px;
    gap: 100px;
    & img{
      max-width: 600px;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    & .details{
      flex : 1;
    }

    & .country-box{
      width: auto;
      height: auto;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}